<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" name="ModelCrawler">
		
	<properties>
		<property name="mainLogFile">main.log</property>
		<property name="bioModelsDbLogFile">BioModelsDb.log</property>
		<property name="pmr2DbLogFile">PMR2.log</property>
		<property name="GraphDbLogFile">GraphDb.log</property>
		<property name="xmlRepoLogFile">XmlFileServer.log</property>
		
		<property name="DefaultPatternLayout">%d{HH:mm:ss.SSS} [%-5level@%t] %logger{36} - %msg%n</property>
	</properties>
	
	<filter type="ThresholdFilter" level="trace" />

	<appenders>
		<Console name="STDOUT">
			<patternLayout pattern="${DefaultPatternLayout}" />
		</Console>
		
		<File name="mainFile" fileName="${mainLogFile}">
			<patternLayout pattern="${DefaultPatternLayout}" />
		</File>
		
		<File name="bioModelsDbFile" fileName="${bioModelsDbLogFile}">
			<patternLayout pattern="${DefaultPatternLayout}" />
		</File>
		
		<File name="pmr2DbFile" fileName="${pmr2DbLogFile}">
			<patternLayout pattern="${DefaultPatternLayout}" />
		</File>
		
		<File name="graphDbFile" fileName="${GraphDbLogFile}">
			<patternLayout pattern="${DefaultPatternLayout}" />
		</File>
		
		<File name="xmlRepoFile" fileName="${xmlRepoLogFile}">
			<patternLayout pattern="${DefaultPatternLayout}" />
		</File>
		
	</appenders>

	<loggers>
		<root level="warn">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="mainFile" />
		</root>
		
		<logger name="de.unirostock.sems.ModelCrawler"
				level="trace" additivity="false">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="mainFile" />
		</logger>
		
		<logger name="de.unirostock.sems.ModelCrawler.databases.BioModelsDb"
				level="trace" additivity="true">
			<appender-ref ref="bioModelsDbFile" />
		</logger>
		
		<logger name="de.unirostock.sems.ModelCrawler.databases.PMR2"
				level="trace" additivity="true">
			<appender-ref ref="pmr2DbFile" />
		</logger>
		
		<logger name="de.unirostock.sems.ModelCrawler.GraphDb"
				level="trace" additivity="true">
			<appender-ref ref="graphDbFile" />
		</logger>
		
		<logger name="de.unirostock.sems.ModelCrawler.XmlFileRepository"
				level="trace" additivity="true">
			<appender-ref ref="xmlRepoFile" />
		</logger>
	</loggers>

</configuration>