<project name="martin-ba" ID="154ED8407E89FCASQ6GZXVKVYB0712RGQW1X" version="docear 1.0">
<folder type="library" name="Library">
<link type="literature_annotations" name="Literature &amp; Annotations" path="project://154ED8407E89FCASQ6GZXVKVYB0712RGQW1X/_data/154ED8407E89FCASQ6GZXVKVYB0712RGQW1X/default_files/literature_and_annotations.mm"/>
<link type="file" name="Temp" path="project://154ED8407E89FCASQ6GZXVKVYB0712RGQW1X/_data/154ED8407E89FCASQ6GZXVKVYB0712RGQW1X/default_files/temp.mm" system="true"/>
<link type="file" name="Trash" path="project://154ED8407E89FCASQ6GZXVKVYB0712RGQW1X/_data/154ED8407E89FCASQ6GZXVKVYB0712RGQW1X/default_files/trash.mm" system="true"/>
</folder>
<folder type="physical" name="My drafts" path="project://154ED8407E89FCASQ6GZXVKVYB0712RGQW1X/_data/154ED8407E89FCASQ6GZXVKVYB0712RGQW1X/My%20Drafts/"/>
<folder type="literature_repository" name="Literature repository" system="true">
<folder type="repository_path" name="default" path="file:/home/martin/git/martin-thesis-ba/docear//literature_repository"/>
</folder>
<link type="references" name="References" path="project://154ED8407E89FCASQ6GZXVKVYB0712RGQW1X/_data/154ED8407E89FCASQ6GZXVKVYB0712RGQW1X/default_files/martin-ba.bib" system="true"/>
</project>
